*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #e8ebf3;
}
header{
    background: white;
    position: fixed;
}
.container{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
justify-content: center;
justify-content: space-between;
}
.navbar{
    display: flex;
    gap: 40px;
  
}
.logo{
    display: flex;
    height: 50px;
}
.div> img{
    width: 200px;
    height: 50px;
}
.div{
    display: flex;
    gap: 10px;
}
.div>button{
    padding:5px 20px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: dodgerblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.input{
    border: 3px solid dodgerblue;
    width: 400px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.input >input{
    padding: 5px;
    width: 75%;
    height: 97%;
    outline: none;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.input> button{
    width: 25%;
    border: none;
    outline: none;
    background: dodgerblue;
}
.links{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 750px;

}
.links>a >span{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
}
.chiziq{
    width: 100%;
    background: gray;
    height: 1px;
}
.tavar{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

@media only screen and (max-width: 500px) {

  .links{
    display: none;
  }
  .chiziq , 
  .tavar,
  .div{
    display: none;
  }
}
